<!DOCTYPE html>
<html>
  <head>
    <title>Sam Solomon, Design & Art Direction</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="//localhost:8888/css/style.css">
  </head>
  <body>
    <div id="header">
      <div id="name"><h1><a href="//localhost:8888">Sam Solomon<br>Design & Art Direction</a></h1></div>
      <div id="info"><h1><a href="//localhost:8888/info/">Info</a></h1></info></div>
    </div>
{% block main %}
{% endblock %}
  </body>
</html>
