{% extends "_layouts/main" %}
{% block main %}
<div id="center">
  <div id="content-container">
    <div id="content-caption">
      <div class="caption">{{ entry.bio }}</div>
      <div class="caption">{{ entry.contact }}</div>
      <div class="caption">{{ entry.social }}</div>
    </div>
  </div>
</div>

{% endblock %}
